<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jogging.walking.weightloss.pedometer.steptracker">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.HahaloloFake"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.intro.IntroAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plan_details.PlanDetailsAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.multi_lang.MultiLangAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.permission.PermissionAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main_v2.MainActivityV2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.explore.ExploreAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.unit.UnitActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.tracking.TrackingAct"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.details.DetailsAct"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.details.share.ShareAct"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.plan_details.week.WeekAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.music.activity.MusicPlayerActivity"
            android:exported="true"
            />
        <activity
            android:name=".ui.music.activity.MusicActivity"
            android:exported="true"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gg_map_api_key" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name=".ui.tracking.service.TrackingService"
            android:foregroundServiceType="location" />


        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".data.service.MusicService"
            android:foregroundServiceType="mediaPlayback"
            />

        <receiver android:name=".data.broadcast.MusicReceiver"/>
    </application>

</manifest>